@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
    background-image: radial-gradient(#ffffff 2.5px, transparent 2.5px), radial-gradient(#ffffff 2.5px, transparent 2.5px);
    background-size: 36px 36px;
    background-position: 0 0, 18px 18px;
    background-color: #b1d2ff;
}

.box {
    animation: Box;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes Box {
    0% {
        transform: translateY(0px);
    }

    20% {
        transform: translateY(5px);
    }

    40% {
        transform: -translateY(0px);
    }

    80% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0px);
    }
}

.maindiv {
    background: rgb(222, 239, 242);
    background: linear-gradient(0deg, rgba(222, 239, 242, 1) 0%, rgba(196, 196, 242, 0.7259278711484594) 45%, rgba(2, 0, 36, 1) 99%);
    overflow-x: hidden;
}


.boxdiv {
    background: #deeff2
}



.sidediv {
    background: rgb(222, 239, 242);
    background: linear-gradient(180deg, rgba(222, 239, 242, 1) 0%, rgba(196, 196, 242, 0.7259278711484594) 45%, rgba(2, 0, 36, 1) 99%);
    ;
}

.borderdiv {
    border-color: #b5b5f2;
}







::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #888;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}